.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #24292f;
  padding: 1rem;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #24292f;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .navbar-links.active {
    display: flex;
  }
}